@charset "utf-8";

body {
    background-color: #efefef;
}

$primary-color: #eee;
$font-color: #333;

$size-1: 2rem;
$size-2: 1.5rem;
$size-3: 1.25rem;
$size-4: 1rem;
$size-5: 0.75rem;
$size-6: 0.75rem;
$size-7: 0.75rem;

@import "../../node_modules/bulma/bulma.sass";


.header-anchor {
    color: #efefef !important;
}

h2:hover .header-anchor {
    color: $font-color !important;
    text-decoration: none;
}

h3:hover .header-anchor {
    color: $font-color !important;
    text-decoration: none;
}

