@charset "utf-8";
@use 'base';
@use 'post';
@use 'fonts';
@use 'mixins';

$size-1: 1.60rem;
$size-2: 1.25rem;
$size-3: 1.00rem;
$size-4: 0.90rem;
$size-5: 0.75rem;
$size-6: 0.75rem;
$size-7: 0.75rem;

@import "../../node_modules/bulma/bulma.sass";

:root {
	--font-size: 1rem;
	--font-family: "RalewayRegular", -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

:root {
	--text-color: hsl(0, 0%, 29%);
	--text-color-link: #333;
	--text-color-link-active: base.$accent-color;
	--text-color-link-visited: base.$accent-color;
	--syntax-tab-size: 2;
}

html,
body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: 180%;
	color: var(--text-color);
	background-color: base.$background-color;
}

h1, h2, h3, h4 {
	color: var(--text-color) !important;
	line-height: 1.4em !important;
}

a[href] {
	text-decoration: underline;
	color: var(--text-color-link);

	&:visited {
		color: var(--text-color-link-visited);
	}

	&:hover, &:active {
		color: var(--text-color-link-active);
	}
}

h1 > a, h2 > a {
	color: base.$accent-color !important;
}

h1 > a[href], h2 > a[href], .socials > a[href] {
	@include mixins.clean_link
}

pre,
code {
	font-family: var(--font-family-monospace);
}

.title-section {
	@include mixins.divided
}

.about-me {
	@include mixins.divided
}

.postlist-item {
	@include mixins.divided
}

.content {
	h1 {
		font-size: $size-1;
	}

	h2 {
		font-size: $size-2;
	}

	h3 {
		font-size: $size-3;
	}
}

.intro {
	font-variant: small-caps;
}

footer {
	background-color: base.$background-color !important;
}
