@charset "utf-8";

body {
    background-color: #efefef;
}

$primary-color: #eee;
$font-color: #333;

$size-1: 2rem;
$size-2: 1.5rem;
$size-3: 1.25rem;
$size-4: 1rem;
$size-5: 0.75rem;
$size-6: 0.75rem;
$size-7: 0.75rem;

@import "../../node_modules/bulma/bulma.sass";

/* Defaults */
:root {
	--font-size: 1.05em;
	--font-family: "RalewayRegular", -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #666;

	--accent-color: #ae070f;
	--background-color: #efefef;

	--text-color: hsl(0, 0%, 29%);
	--text-color-link: #333;
	--text-color-link-active: var(--accent-color);
	--text-color-link-visited: var(--accent-color);

	--separator-color: #ddd;

	--syntax-tab-size: 2;
}

/* Global stylesheet */
html,
body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: 180%;
	color: var(--text-color);
	background-color: var(--background-color);
}

h1, h2, h3, h4 {
	color: var(--text-color) !important;
	line-height: 1.4em !important;
}

a[href] {
	text-decoration: underline;
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

h1 > a, h2 > a {
	color: var(--accent-color) !important;
}

h1 > a[href], h2 > a[href], .socials > a[href] {
	text-decoration: none;
	color: var(--text-color-link)
}

.socials i {
	font-size: 1.3rem;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

.title-section {
	border-bottom: 1px solid var(--separator-color);
}

.about-me {
	border-bottom: 1px solid var(--separator-color);
}

.postlist-item {
	border-bottom: 1px solid var(--separator-color);
}

.intro {
	font-variant: small-caps;
}

footer {
	background-color: #efefef !important;
}

@font-face {
    font-family: 'bootstrap-icons';
    src: url('/css/fonts/bootstrap-icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayRegular';
    src: url('/css/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header-anchor {
    color: #efefef !important;
}

h2:hover .header-anchor {
    color: $font-color !important;
    text-decoration: none;
}

h3:hover .header-anchor {
    color: $font-color !important;
    text-decoration: none;
}

