/* Defaults */
:root {
	--font-size: 1.05em;
	--font-family: "RalewayRegular", -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #666;

	--accent-color: #ae070f;
	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #333;
	--text-color-link-active: var(--accent-color);
	--text-color-link-visited: #333;

	--syntax-tab-size: 2;
}

/* Global stylesheet */
html,
body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: 180%;
	color: var(--text-color);
	background-color: var(--background-color);
}

a[href] {
	text-decoration: underline;
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

h1 > a, h2 > a {
	color: var(--accent-color) !important;
}

h1 > a[href], h2 > a[href], .socials > a[href] {
	text-decoration: none;
}

.socials i {
	font-size: 1.3em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

.title-section {
	border-bottom: 1px solid #eee;
}

.about-me {
	border-bottom: 1px solid #eee;
}

.socials-2 {
	padding-left: 1em;
	padding-right: 1em;
}

.postlist-item {
	border-bottom: 1px solid #eee;
}

.about-me-photo img {
	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

article > p {
	padding-bottom: .5em;
}

article > h2 {
	font-size: 1.4rem;
	padding: 0.4em 0;
}

article > h3 {
	font-size: 1.25rem;
	padding: 0.3em 0;
}

article .header-anchor {
	display: none;
}

.intro {
	font-variant: small-caps;
}


@font-face {
    font-family: 'bootstrap-icons';
    src: url('/css/fonts/bootstrap-icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayRegular';
    src: url('/css/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


