---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div class="about-me columns py-4 block is-vcentered">
	<div class="about-me-additional-infos column is-4 has-text-centered">
		<div class="pb-2 about-me-photo">
			<figure class="image is-128x128 has-text-centered is-inline-block">
				<img class="is-rounded" src="img/me.jpg"/>
			</figure>
		</div>
		<div class="socials">
			<a class="mr-3" href="" target="_blank">
				<i class="bi-linkedin"></i>
			</a>
			<a class="mr-3" href="https://twitter.com/therealjsie" target="_blank">
				<i class="bi-twitter socials-2"></i>
			</a>
			<a class="mr-3" href="https://github.com/therealjsie" target="_blank">
				<i class="bi-github"></i>
			</a>
		</div>
	</div>
	<div class="column is-8">
		<div class="about-me-description">
			<span class="intro">Hey, my name is Johannes Siebel</span>. I'm an engineer with a strong drive for software and systems engineering. I enjoy automating things and making them more reliable. My work focuses on building development platforms and improving engineering practices. Feel free to contact me on the platforms listed here.
		</div>
	</div>
</div>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
	<p class="pt-5">
		<a href="/blog/">All posts ({{ morePosts }} more)</a>
	</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
