<div reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
	{% for post in postslist | reverse %}
		<div class="postlist-item py-4">
			<p class="postlist-date has-text-grey">
				<svg xmlns="http://www.w3.org/2000/svg" width="0.7rem" height="0.7rem" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
					<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
				</svg>
				<small>
					<time class="postlist-date" datetime="{{ post.date | myDateString }}">{{ post.date | readableDate("dd LLL yyyy") }}</time>
				</small>
			</p>
			<h2 class="is-size-1 pb-4 pt-1 {% if post.url == url %} postlist-item-active{% endif %}">
				<a href="{{ post.url }}" class="postlist-link">
					{% if post.data.title %}{{ post.data.title }}
					{% else %}
						<code>{{ post.url }}</code>
					{% endif %}
				</a>
			</h2>
			<p class="pb-5">
				{{ post.data.page.excerpt }}
			</p>
		</div>
	{% endfor %}
</div>
