<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="icon" type="“image/x-icon”" href="/img/favicon.ico">

		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{%- css %}{% include "node_modules/bootstrap-icons/font/bootstrap-icons.css" %}{% endcss %}
		{%- css %}{% include "public/css/styles.css" %}{% endcss %}

		<style>
			{% getBundle "css" %}
		</style>
	</head>
	<body>
		<header class="section py-0 my-0">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-four-fifths-tablet is-three-fifths-desktop py-5 my-3 title-section">
						<h1 class="is-size-3">
							<a href="/" class="home-link">{{ metadata.title }}</a>
						</h1>
					</div>
				</div>
			</div>
		</header>

		<section class="section pt-3">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-four-fifths-tablet is-three-fifths-desktop">
						{{ content | safe }}
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="container">
				<small class="content has-text-centered">
					<p>
						<span>
						© 2016-{% year %}
						</span>
						<a href="https://jsie.de">Johannes Siebel</a>
					</p>
					<p class="has-text-grey">
						Build: {% buildTag %}
					</p>
				</small>
			</div>
		</footer>
	</body>
</html>
